flows.json
[{"id":"2810c92560fdc75a","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"ce18a1eee5953732","type":"inject","z":"2810c92560fdc75a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":230,"y":100,"wires":[["bb8ea81a10043b4d","383a0a83a036c020"]]},{"id":"7c879bc90f8c7111","type":"inject","z":"2810c92560fdc75a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":230,"y":140,"wires":[["bb8ea81a10043b4d","383a0a83a036c020"]]},{"id":"f33bfe41c37a749b","type":"debug","z":"2810c92560fdc75a","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":240,"wires":[]},{"id":"383a0a83a036c020","type":"debug","z":"2810c92560fdc75a","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":160,"wires":[]},{"id":"6c36fb48aad2e508","type":"serial in","z":"2810c92560fdc75a","name":"","serial":"5acde44aeed85405","x":240,"y":240,"wires":[["f33bfe41c37a749b"]]},{"id":"bb8ea81a10043b4d","type":"serial out","z":"2810c92560fdc75a","name":"","serial":"5acde44aeed85405","x":740,"y":100,"wires":[]},{"id":"37dc3cfc33dc9c7d","type":"inject","z":"2810c92560fdc75a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10.22","payloadType":"str","x":230,"y":60,"wires":[["bb8ea81a10043b4d"]]},{"id":"5acde44aeed85405","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]